/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/lato-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lato-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lato-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/lato-v17-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* bree-serif-regular - latin */
@font-face {
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bree-serif-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/bree-serif-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/bree-serif-v10-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/bree-serif-v10-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/bree-serif-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/bree-serif-v10-latin-regular.svg#BreeSerif") format("svg"); /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: black;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #000;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  z-index: 100;
}

a.pure-button-primary {
  background: #ffc30b;
  color: #002d13;
  border-radius: 5px;
  font-size: 120%;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-family: "Lato";
  background: #002d13;
}
.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  font-family: "Lato";
  color: #ffc30b;
  font-weight: 400;
  font-size: 120%;
  text-transform: none;
}

.home-menu .pure-menu-selected a {
  color: #ffc30b;
}
.pure-menu-selected > .pure-menu-link:visited {
  color: #ffc30b;
}

.home-menu a {
  color: white;
  transition: ease-in-out 0.2s;
}

.home-menu a:focus {
  background-color: transparent;
}

.home-menu li a:hover {
  background: none;
  border: none;
  color: #aecfe5;
  /* padding: 5px; */
  transform: scale(1.5);
  text-decoration: underline;
}

.home-menu li a:focus {
  color: #ffc30b;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
  background: #039741;
  z-index: 1;
  /* overflow: hidden; */
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 100%;
  top: -15%;
  left: 0;
  position: fixed !important;
  font-family: "Bree Serif";
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: -8px;
  /* border: 3px solid #ffc30b; */
  padding: 1em 1.6em;
  font-weight: 100;
  /* border-radius: 5px; */
  line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: black;
  letter-spacing: 0.05em;
  opacity: 0.8;
  font-size: x-large;
  position: relative;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 70%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #ffc30b;
}

@media (max-width: 1024px) {
  .content-wrapper {
    top: 80%;
  }
}

@media (max-width: 740px) {
  .content-wrapper {
    top: 100% !important;
  }

  .splash {
    height: 85%;
  }

  .content-subhead {
    font-size: 3.5vh !important;
  }

  .splash-container {
    top: 0;
  }
}
/* 
@media (max-width: 812px) {
  .content-wrapper {
    top: 70%;
  }
} */

/* We want to give the content area some more padding */
.content {
  font-family: "Bree Serif";
  padding: 1em 1em 3em;
  background-color: #ffc30b;
  position: relative;
  z-index: 20;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
  margin: 2em 0 1em;
  font-family: "Bree Serif";
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: #039741;
  text-align: center;
  font-family: "Bree Serif";
  font-size: 2.5vh;
}

.content-subhead i {
  margin-right: 7px;
}

.content-subhead svg {
  color: black;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* This is the class used for the footer */
.footer {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
    menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

  /* We increase the height of the splash-container */
  /*    .splash-container {
        height: 500px;
    }*/

  /* We decrease the width of the .splash, since we have more width
    to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }

  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.dash-header {
  background: #039741;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  position: absolute !important;
  font-family: "Bree Serif";
}

.dash-content-wrapper {
  position: absolute;
  top: 20%;
  height: 90%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #ffc30b;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(238, 255, 0, 0.3);
  position: relative;
  z-index: 40;
}

/* @media screen and (max-width: 815px) {
  .pure-menu-heading {
    display: none;
    width: 50%;
  }
} */

#signup-content {
  background-color: #039741;
}

#signup-form {
  margin: 10%;
}

#signup-form form {
  position: relative;
  top: -16%;
}

fieldset {
  font-family: "Bree Serif";
  color: #000;
}

@media screen and (min-width: 1200px) {
  #main-message {
    top: -28%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1000;
  overflow: auto;
}

.step {
  color: white;
}

.pure-menu {
  font-family: "Lato";
}

.next {
  position: absolute;
  left: 20%;
  top: 49%;
}

.prev {
  position: absolute;
  right: 20%;
  top: 49%;
}

.next:hover,
.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
